template(name="addnew")
  h4 Nytt innlegg
  +addpostNav
  +imageList

  
  form#image-upload
    label Upload image-upload
    input#image.form-control(type='file' name='image' multiple accept="image/*" onchange="handleFiles(this.files)")
    input.btn(type='submit' value='upload')
    a#fileSelect Last opp
    div#fileList.clearfix
      p No files selected
    

  div#send-message(class="#{callbackMessageClass}")
    p {{callbackMessage 'reason'}}
    p {{callbackMessage 'success'}}

  form#addnew
    .form-group
      label Blogg tittel *
      input#post-title.form-control(type='text', name='post_title', value='#{post_title}' class="{{errorClass 'post_title'}}")
      span.help-block {{callbackMessage 'post_title'}}

    .form-group
      label Blogg url *
      small Obs. ikke bruk mellomrom eller store bokstaver
      input#post-url.form-control(type='text', name='post_url', value='#{post_url}' class="{{errorClass 'post_url'}}")
      span.help-block {{callbackMessage 'post_url'}}

    .form-group
      label Blogg text
      ul#tool-bar 
        li#insert-image
          .fa.fa-file-image-o
          span Velg bilde
        
      span.help-block {{callbackMessage 'post_text'}}
      textarea.form-control(name='post_text' class="{{errorClass 'post_text'}}")
        | #{post_text}

    .form-group
      label Thumbnail
      input.form-control(type='text', name='post_thumb', value='#{post_thumb}')

    .form-group
      label Featured *
      span.help-block {{callbackMessage 'post_featured'}}
      input.radio(type='radio', name='post_featured', value='no' class="{{errorClass 'post_featured'}}")
      span no

      input.radio(type='radio', name='post_featured', value='yes' class="{{errorClass 'post_featured'}}")
      span yes

    .form-group
      input.btn.btn-default(type='submit', value='Lagre')
      
template(name="imageList")
  #image-list
    p Select image:
    button#close-image-list.btn.btn-default X 
